.regle{
    justify-content: center;
    flex-direction: column;
    align-content: center;
    //text-align: center;
    height: 100vh;

    img{
        height: 35rem;
        margin-top: 1rem;
    }
    

}