@import "variable_override";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap%27');

body {
    font-family: 'Titillium Web', sans-serif;
}

@import 'cookie';
@import 'shop';
